<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI Based Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4c29e51395.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12">
            <h1>Node data scraper</h1>
        </div>
    </div>
</div>

<div class="container form-container">
    
   <!--  ********************************
        S E T T I N G  M E T A D A T A
   ************************************** -->

    <div class="row title-row">
        <h2>Setting Metadata</h2>
        <div class="divider"></div>
    </div>

    <!-- website URL Container -->
    
    <div class="row top-margin">
        <div class="col-6">
            <p>Enter website URL you want to scrape</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"/>
        </div>
    </div>

    <!-- Brand Name -->

    <div class="row">
        <div class="col-6">
            <p>Enter brand name</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"/>
        </div>
    </div>

    <!-- Main container which contains all the products -->

    <div class="row">
        <div class="col-6">
            <p>choose products main container</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100" onclick="mainContainerChooser()">
                <i class="fas fa-map-marker-alt"></i> Choose Element
            </button>
        </div>
    </div>

    <!-- single product link -->

    <div class="row">
        <div class="col-6">
            <p>choose product page link</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100" onclick="productPageLink()">
                <i class="fas fa-map-marker-alt"></i> Choose Element
            </button>
        </div>
    </div>


      <!-- Individual product Link -->

      <div class="row top-margin">
        <div class="col-6">
            <p>Enter Individual product URL </p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"  />
        </div>
    </div>


    <!-- add column container -->

    <div class="row">
        <div class="col-6">
            <p>Enter columns name(s)</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser" onkeydown="addColumn(event)"/>
            <small>(enter a column name and press enter)</small>
        </div>
    </div>

    <!-- columns created on click -->

    <div class="col-12" id="columns">
       <!-- <div class="row">
            <div class="col-6">
                <p>enter  something</p>
            </div>
            <div class="col-3">
                <button class="btn btn-success w-100" onclick="mainContainerChooser()">
                    <i class="fas fa-map-marker-alt"></i> Choose Element
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-danger w-100">
                    <i class="far fa-trash-alt"></i> Delete Column
                </button>  
            </div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" onclick="saveMetaData()">Save Metadata</button>
        </div>
    </div>


    <!-- ********************************** 
        L O A D I N G  M E T A D A T A
        *********************************** -->

    <div class="row title-row">
        <h2>Loading Metadata</h2>
        <div class="divider"></div>
    </div>

    <!-- Path of the metadata -->

    <div class="row">
        <div class="col-6">
            <p>Enter Path of metadata file</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" >Load Metadata</button>
        </div>
    </div>

    <!-- *********************************
        S C R A P I N G  P R O D U C T S
    ************************************** -->

    <div class="row title-row">
        <h2>Scraping Products</h2>
        <div class="divider"></div>
    </div>

    <!-- Start Page -->

    <div class="row">
        <div class="col-6">
            <p>Enter Start Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <!-- End Page -->

    <div class="row">
        <div class="col-6">
            <p>Enter End Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>scrap products</p>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100" >Scrap Products</button>
        </div>
    </div>

    <!-- ************************************
        S C R A P I N G  P R O D U C T S 
    ***************************************** -->

    <div class="row title-row">
        <h2>Scraping Products</h2>
        <div class="divider"></div>
    </div>

    <!--- Generating CSV -->

    <div class="row">
        <div class="col-6">
            <p>generate csv</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100" >Generate CSV</button>
        </div>
    </div>

</div>

<script src="/scripts/home.js"></script>
</body>
</html>