<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI Based Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4c29e51395.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12">
            <h1>Node data scraper</h1>
        </div>
    </div>
</div>

<div class="container form-container">
    
   <!--  ********************************
        S E T T I N G  M E T A D A T A
   ************************************** -->

    <div class="row title-row">
        <h2>Setting Metadata</h2>
        <div class="divider"></div>
    </div>

    <!-- website URL Container -->
    
    <div class="row top-margin">
        <div class="col-6">
            <p>Enter website URL you want to scrape</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"/>
        </div>
    </div>

    <!-- Brand Name -->

    <div class="row">
        <div class="col-6">
            <p>Enter brand name</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"/>
        </div>
    </div>

    <!-- Main container which contains all the products -->

    <div class="row">
        <div class="col-6">
            <p>choose products main container</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-success" onclick="mainContainerChooser()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control" id="main-container"/>
            </div>
        </div>
    </div>

    <!-- single product link -->

    <div class="row">
        <div class="col-6">
            <p>choose individual product </p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-success" onclick="individualProduct()">
                    <i class="fas fa-map-marker-alt"></i>
                </button>
                <input type="text" class="form-control" id="individual-product"/>
            </div>
        </div>
    </div>


      <!-- Individual product Link -->

      <div class="row top-margin">
        <div class="col-6">
            <p>Enter Individual product URL </p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser"  />
        </div>
    </div>


    <!-- single product featured image -->

    <div class="row">
        <div class="col-6">
            <p>choose product images</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-success" onclick="productFeaturedImage()">
                    <i class="fas fa-map-marker-alt"></i>
                </button>
                <input type="text" class="form-control" id="product-images" />
            </div>
        </div>
    </div>


    <!-- single product all images -->

    <div class="row">
        <div class="col-6">
            <p>Enter second page url</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser" id="second-page" ondblclick="something()" />
        </div> 
    </div>
 




    <!-- add column container -->

    <div class="row">
        <div class="col-6">
            <p>Enter columns name(s)</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control main-container-chooser" onkeydown="addColumn(event)"/>
            <small>(enter a column name and press enter)</small>
        </div>
    </div>

    <!-- columns created on click -->

    <div class="col-12" id="columns">
        <div class="row"> <!--            <div class="col-6">
                <p>enter  something</p>
            </div>
            
            <div class="col-6">
                <div class="form-group">
                    <button class="btn btn-success" onclick="mainContainerChooser()">
                        <i class="fas fa-map-marker-alt"></i>
                    </button>
                    <input type="text" class="form-control" />
                    <button class="btn btn-danger btn-right ">
                        <i class="far fa-trash-alt"></i>
                    </button> 
                </div>
            </div>
            -->

            <!--
            <div class="col-3">
                <button class="btn btn-success w-100" onclick="mainContainerChooser()">
                    <i class="fas fa-map-marker-alt"></i> Choose Element
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-danger w-100">
                    <i class="far fa-trash-alt"></i> Delete Column
                </button>  
            </div>-->
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" onclick="saveMetaData()">Save Metadata</button>
        </div>
    </div>


    <!-- ********************************** 
        L O A D I N G  M E T A D A T A
        *********************************** -->

    <div class="row title-row">
        <h2>Loading Metadata</h2>
        <div class="divider"></div>
    </div>

    <!-- Path of the metadata -->

    <div class="row">
        <div class="col-6">
            <p>Enter Path of metadata file</p>
        </div>
        <div class="col-6">
            <input type="file" class="form-control" id="metadata-input"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" id="metadata-btn" onclick="loadMetaData()">Load Metadata</button>
        </div>
    </div>

    <!-- *********************************
        S C R A P I N G  P R O D U C T S
    ************************************** -->

    <div class="row title-row">
        <h2>Scraping Products</h2>
        <div class="divider"></div>
    </div>

    <!-- Start Page -->

    <div class="row">
        <div class="col-6">
            <p>Enter Start Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="start-page"/>
        </div>
    </div>

    <!-- End Page -->

    <div class="row">
        <div class="col-6">
            <p>Enter End Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="end-page"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>scrap products</p>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100" id="scrap-products-btn" onclick="handleScrapRequest(event)" data-first="true">Scrap Products</button>
        </div>
    </div>

    <!-- ************************************
        G E N E R A T I N G  C S V S
    ***************************************** -->

    <div class="row title-row">
        <h2>Generating CSVs</h2>
        <div class="divider"></div>
    </div>

    <!--- Viewing && Editiog Scraped Products -->

    <div class="row" id="viewing-n-editing">
        <div class="col-3">
            <label for="user-input-field">Enter your data</label>
            <input type="text" placeholder="" class="form-control" id="user-input-field"/>
        </div>

        <div class="col-3 form-group">
            <label for="action-select">Choose your action</label>
            <select class="form-control" id="action-select">
                <option>Append</option>
                <option>Prepend</option>
                <option>Find and Replace</option>
                <option>Mathematical Operations</option>
                <option></option>
            </select>
        </div>

        <div class="col-3 form-group">
            <label for="col-select">Choose your Column</label>
            <select class="form-control" id="col-select">
                <option>col1</option>
                <option>col2</option>
                <option>col3</option>
                <option>col4</option>
            </select>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-dark btn-lg" onclick="applyAction()">Apply Action</button>
        </div>


    </div>

    <div class="row">
        <div class="col-6">
            <p>View Scraped Data</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100" onclick="viewScrapedProducts()">View Scraped Products</button>
        </div>
    </div>


    <!-- Table which contains the data -->

    <div  class="container">
        <div class="row">
            <div class="col-12" id="product-data">

            </div>
        </div>
    </div>



</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>


<!-- The Modal -->
<div class="modal fade " id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Images to select</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row" id="modal-product-images">
                    
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>


<style>

.modal-body .col-3{
    position: relative;
}

.modal-body .col-3 .col-img{
    height:150px;
    background-size:cover;
    background-position: center;
    border:1px solid #ddd;
}

.modal-img-main-con{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}

.checked{
    position: absolute;
    width:40px;
    height:40px;
    border-radius: 50%;
    top:-5%;
    background:#a5dc86;
    right:0;
}

.checked i , .featured i{
    position: absolute;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
}



.featured{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -5%;
    background: #3fc3ee;
    left: 0;
}

#viewing-n-editing button{
    width:100%;
    margin-top:1em;
}


    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="/scripts/home.js"></script>
    </body>
    </html>