<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI Based Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4c29e51395.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>


<!-- *****************************
      H E R O  C O N T A I N E R
********************************** -->

<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12">
            <h1>Node data scraper</h1>
        </div>
    </div>
    <div class="overlay"></div>
</div>


<!-- *********************************
    S E T T I N G  M E T A D A T A
***************************************-->


<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>set metadata</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter Products Catalog URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter second page URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <p>Enter Individual product URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter brand name</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>


</div>


<!-- ***************************
    C H O O S I N G  I T E M S 
********************************* -->


<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>choose items to scrap</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>choose products main container</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="mainContainerChooser()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control" id="main-container"/>
                <!--<button class="btn btn-danger btn-delete">
                    <i class="fas fa-trash-alt"></i>
                </button>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose single product container</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="individualProduct()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose product images</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="productImages()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter columns name(s)</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" onkeydown="addColumn(event)"/>
            <small>(enter a column name and press enter)</small>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="columns">

        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100">save metadata</button>
        </div>
    </div>


</div>


<div class="container card-container">
    <div class="row">
        <div class="col-12">
            <h2>Load metadata</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Upload metadata file</p>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="metadata-input">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="metadata-input"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="metadata-input">Choose file</label>
                </div>
                <!--<input type="file" class="form-control" id="metadata-input"/>    -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100">load metadata</button>
        </div>
    </div>
</div>

<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>scrap products</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>Enter Start Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="start-page">
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>Enter end Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="end-page">
        </div>
    </div>
   
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100">scrap products</button>
        </div>
    </div>
    
</div>


<div class="container card-container">
    <div class="row">
        <div class="col-12">
            <h2>CSV stuff</h2>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>


<!-- The Modal -->
<div class="modal fade " id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Images to select</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row" id="modal-product-images">
                    
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>


<style>

.modal-body .col-3{
    position: relative;
}

.modal-body .col-3 .col-img{
    height:150px;
    background-size:cover;
    background-position: center;
    border:1px solid #ddd;
}

.modal-img-main-con{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}

.checked{
    position: absolute;
    width:40px;
    height:40px;
    border-radius: 50%;
    top:-5%;
    background:#a5dc86;
    right:0;
}

.checked i , .featured i{
    position: absolute;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
}



.featured{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -5%;
    background: #3fc3ee;
    left: 0;
}

#viewing-n-editing button{
    width:100%;
    margin-top:1em;
}


    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="/scripts/home.js"></script>
    </body>
    </html>