<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI Based Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4c29e51395.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12">
            <h1>Node data scraper</h1>
        </div>
    </div>
</div>

<div class="container form-container">
    
    <div class="row title-row">
        <h2>Setting Metadata</h2>
        <div class="divider"></div>
    </div>

    <div class="row top-margin">
        <div class="col-6">
            <p>Enter website URL you want to scrape</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter brand name</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter columns name(s)</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
            <small>(you can seperate column names using coma)</small>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose products main container and product link</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100">
                <i class="fas fa-map-marker-alt"></i> Choose Element
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose data for fields you want to scrape</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100">
                <i class="fas fa-map-marker-alt"></i> Choose Element
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" >Save Metadata</button>
        </div>
    </div>

    <div class="row title-row">
        <h2>Loading Metadata</h2>
        <div class="divider"></div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter Path of metadata file</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary w-100" >Load Metadata</button>
        </div>
    </div>

    
    <div class="row title-row">
        <h2>Scraping Products</h2>
        <div class="divider"></div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter Start Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter End Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>scrap products</p>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100" >Scrap Products</button>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>generate csv</p>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100" >Generate CSV</button>
        </div>
    </div>



</div>

<script src="/scripts/home.js"></script>
</body>
</html>