<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI Based Web Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4c29e51395.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>


<!-- *****************************
      H E R O  C O N T A I N E R
********************************** -->

<div class="container-fluid hero-container">
    <div class="row">
        <div class="col-12">
            <h1>Node data scraper</h1>
        </div>
    </div>
    <div class="overlay"></div>
</div>


<!-- *********************************
    S E T T I N G  M E T A D A T A
***************************************-->


<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>set metadata</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter Products Catalog URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter second page URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <p>Enter Individual product URL</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter brand name</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control user-input-field"/>
        </div>
    </div>


</div>


<!-- ***************************
    C H O O S I N G  I T E M S 
********************************* -->


<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>choose items to scrap</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>choose products main container</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="mainContainerChooser()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control" id="main-container"/>
                <!--<button class="btn btn-danger btn-delete">
                    <i class="fas fa-trash-alt"></i>
                </button>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose single product container</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="individualProduct()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control" id="individual-product"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>choose product images</p>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-choose btn-sec" onclick="productImages()">
                    <i class="fas fa-map-marker-alt" ></i>
                </button>
                <input type="text" class="form-control" id="input-product-image"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Enter columns name(s)</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" onkeydown="addColumn(event)"/>
            <small>(enter a column name and press enter)</small>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="columns">

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-lg w-100 btn-primary" data-toggle="modal" data-target="#myModal" onclick="checkMetaData()" data-action="scrapFirstURLs" id="modal-btn">check metadata</button>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100" onclick="saveMetaData()">save metadata</button>
        </div>
    </div>


</div>


<div class="container card-container">
    <div class="row">
        <div class="col-12">
            <h2>Load metadata</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Upload metadata file</p>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="metadata-input" onchange="readData(this)" />
                    <label class="custom-file-label" for="metadata-input">Choose file</label>
                </div>
                <!--<input type="file" class="form-control" id="metadata-input"/>    -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100" id="btn-load-metadata">load metadata</button>
        </div>
    </div>
</div>

<div class="container card-container">
    
    <div class="row">
        <div class="col-12">
            <h2>scrap products</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>Enter Start Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="start-page">
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <p>Enter end Page</p>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="end-page">
        </div>
    </div>
   
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-lg btn-danger w-100" onclick="scrapProducts()" id="scrap-products-btn" data-action="findPageCount">scrap products</button>
        </div>
    </div>
    
    <blockquote class="blockquote">
        <h5>Scraping Status</h5>
        <table class="table table-striped capitalize centered ">
            <thead>
                <tr>
                    <th>current status</th>
                    <th>pages scraped</th>
                    <th>total pages</th>
                    <th>products scraped</th>
                </tr>
            </thead>
            <tbody id="scraping-status">
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tbody>
        </table>
    </blockquote>

</div>


<div class="container card-container">
    
    <div class="row">
        <div class="col-10">
            <h2>CSV stuff</h2>
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-sec w-100" onclick="viewScrapedData()">view data</button>
        </div>
    </div>

    <div class="row action">
        
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="action-perform-col">Column</label>
                </div>
                <select class="custom-select" id="action-perform-col">
                  <option selected disabled>Select Column</option>
                </select>
            </div>
        </div>

        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control " aria-label="Text input with dropdown button" placeholder="Input data to perform action" id="user-input-action">
                <div class="input-group-append">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perform Action</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0)" onclick="performAction('search')">Search</a>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="performAction('replace')">Replace</a>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="performAction('append')">Append</a>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="performAction('prepend')">Prepend</a>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="performAction('maths')">Maths Operations</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <button class="btn btn-primary" style="padding-top:0.45em;padding-bottom:0.45em;margin-top:-2px;width:100%;" onclick="generateCSV()">generate CSV</button>
        </div>
       
    </div>


    <div class="row">
        <div class="col-12">
            <table id="scraped-product-table" class="table table-striped table-hover capitalize centered table-responsive">

            </table>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary" >
    Open modal
</button>


<!-- The Modal -->
<div class="modal fade " id="myModal">

    <div class="modal-dialog modal-dialog-centered modal-xl">

      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Scraped Data</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row" >
                    <div class="col-12">
                        <p id="modal-status">please wait we are scraping a product</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div id="fist-page-urls">

                        </div>
                    </div>
                    <div class="col-6">
                        <div id=""
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="/scripts/home.js"></script>
<script src="/scripts/new.js"></script>
<script src="/scripts/actions.js"></script>
<script src="/scripts/export.js"></script>
</body>
</html>