*{
    box-sizing: border-box;
}

.hero-container{
    text-transform: capitalize;
    text-align: center;
    padding-top:2.5em;
    padding-bottom: 2.5em;
    color:#fff;
    background-color:#38b143;
    background-image: linear-gradient(141deg, #38b143 0%, #35ab40 51%, #38b143 75%);
}

.form-container{
    padding-top:1em;
    padding-bottom:2em;
}

.form-container p{
    font-size  : 1.2em!important;
    text-align: left;
}

.form-container p::first-letter{
    text-transform: capitalize;
}

.divider{
    background : #e0e0e0;
    height: 1.5px;
    width:100%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.top-margin{
    margin-top:1em;
}

.w-100{
    width:100%;
}

.title-row{
    padding-top:1em;
    padding-bottom:0.5em;
}

.form-group{
    position: relative
}

.form-group button{
    position: absolute;
}

.form-group button.btn-right{
    top:0;
    right:0;    
}

.form-group input[type="text"]{
    padding-left : 2.7em;
    padding-right: 3em;
}