

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{
    box-sizing: border-box;
    font-family: "roboto",Arial, Helvetica, sans-serif;
}

.hero-container{
    text-transform: capitalize;
    text-align: center;
    padding-top:6em;
    padding-bottom: 6em;
    color:#fff;
    position: relative; 
    z-index: 1; 
    background:url("https://images.pexels.com/photos/1996035/pexels-photo-1996035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")  center /cover no-repeat;
    /*background-image: linear-gradient(141deg, #38b143 0%, #35ab40 51%, #38b143 75%);*/
}

.hero-container .row{
    z-index: 2;
}

.hero-container .overlay{
    content : "";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#e91e63;
    opacity: 0.5;
    z-index: -1;
}

.hero-container h1{
    font-size:5em;
}
/*

.form-container{
    padding-top:1em;
    padding-bottom:2em;
}

.form-container p{
    font-size  : 1.2em!important;
    text-align: left;
}

.form-container p::first-letter{
    text-transform: capitalize;
}

.divider{
    background : #e0e0e0;
    height: 1.5px;
    width:100%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.top-margin{
    margin-top:1em;
}

.w-100{
    width:100%;
}

.title-row{
    padding-top:1em;
    padding-bottom:0.5em;
}

.title-row h2{
    font-family:"roboto",Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


.form-group{
    position: relative
}

.form-group button{
    position: absolute;
}

.form-group button.btn-right{
    top:0;
    right:0;    
}

.form-group input[type="text"]{
    padding-left : 3em;
    padding-right: 3em;
}
*/
/*new styles*/


button{
    text-transform: capitalize;
    font-size:1em!important;
    font-weight: 500!important;
    background:#ef0b14!important
}

button:hover{
    box-shadow : 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2)
}


.w-100{
    width:100%;
}

.form-control:focus{
    border-color: #ff3d42;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.card-container{
    padding:2em 2.5em;
    margin-top:2em;
    margin-bottom:2em;
    border-radius: 20px;
    box-shadow:0 0 40px rgba(51,51,51,.1);
}

.card-container .row:nth-child(1){
    position: relative;
    margin-bottom:2em;
}

.card-container .row:nth-child(1)::after{
    content : "";
    position: absolute;
    width:100%;
    height:2px;
    background:#e0e0e0;
    bottom:0;
    left:0;
}

.card-container .row:not(:nth-child(1)){
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.card-container h2{
    text-transform: capitalize;
}

.card-container .row p{
    position: relative;
    top:0.2em;
    font-size:1.15em;
    text-transform: capitalize;
}

.card-container .form-group{
    position: relative;
}

.card-container .form-group button.btn-choose{
    position: absolute;
}

.card-container .form-group button.btn-delete{
    position: absolute;
    top:0;
    right:0;
}

.card-container .form-group input{
    padding-left:2.7em;
    padding-right: 2.5em;
}



